version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: src/api/EuroNoteExplorer.Api/Dockerfile
    ports:
      - "7001:8080"

  ui:
    build:
      context: .
      dockerfile: src/ui/EuroNoteExplorer.UI/Dockerfile
    depends_on:
      - api
    ports:
      - "7000:8080"
    environment:
      - EuroNoteAPIBaseUrl=http://api:8080
