version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: src/api/EuroNoteExplorer.Api/Dockerfile
    ports:
      - "5000:8080"

  ui:
    build:
      context: .
      dockerfile: src/ui/EuroNoteExplorer.UI/Dockerfile
    depends_on:
      - api
    ports:
      - "5001:8081"
    environment:
      - ApiBaseUrl=http://api:8080
