<div class="top-row ps-3 navbar navbar-dark" style="background-color: var(--sp-dark-blue);">
	<div class="container-fluid">
		<a class="navbar-brand sp-title" href="">EuroNoteExplorer</a>
	</div>
</div>
