<div class="top-row ps-3 navbar navbar-dark" style="background-color: var(--sp-dark-blue);">
	<div class="container-fluid">
		<a class="navbar-brand sp-title" href="">EuroNoteExplorer</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler sp-button" />

<div class="nav-scrollable sp-box" onclick="document.querySelector('.navbar-toggler').click()" style="border-right: 1px solid var(--sp-grey-border);">
</div>
